*{
    box-sizing: border-box;
}/*I added a border-box here so the padding will only effect the space in a div.*/

/*Mobile view start here.*/
.header {
    display: grid;
    margin:1rem;
}
/*I used grid to style the header, because it automately add space between*/

.headernav {
    display: none;
}/*becasue on the mobile view I want to show the dropdown menu from bootstrap, so I made the header nav disapper.*/

.header a .logoimg {
    width:100px;
}
.header a {
    margin-right: auto;
    margin-left: auto;
}
.dropdown {
    margin-right: auto;
    margin-left: auto;
    margin-top:0.5rem;
}
.dropdown-menu {
    left: 50% !important;
    right: auto !important;
    text-align: center !important;
    transform: translate(-50%, 30%) !important;
    border:0px solid white;
    border-radius:10%;
    background-color: black;
    padding-top:0.7rem;
    padding-bottom:0.7rem;
}
/*I learned this code from https://stackoverflow.com/questions/38419705/position-dropdown-button-and-dropdown-menu-in-center*/
.dropdown-menu .active {
    background-color:#d4af37;
}
.dropdown-item {
    color:white;
}

/*Cover page start here*/
.cover-body, html {
    height: 100%;
    margin: 0;
  }
.cover-main {
    height:100%;
    background-image: url(../img/cover.jpg);
    /*image is from unsplash.com https://unsplash.com/photos/hVkDaLkoiec*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
}
.cover-main .dropdown-menu {
    background-color: white;
}
/*I changed the menu background color to white so is easier to see.*/

.cover-main .dropdown-item {
    color:black;
}
.cover-body header {
    margin:0;
}
.cover-body header img {
    background-color: white;
    border-top:3px solid white;
    border-radius:10%;
}
.cover-body header .logo {
    border:1px solid #B19CD9;
    margin-top:1rem;
    border-radius:10%;
}/*I chose this light purple to match the background image.*/

#coverslide {
    margin:3rem; 
    top:10%;
    position: relative;
}
#coverslide img {
    border-radius: 35px;
}/*I added a curve to the image just to make it look nicer.*/

#coverslide a:hover,
#coverslide a:active {
    text-decoration: none;
    text-transform: uppercase;
}

#coverslide h1 {
    text-align: center;
    color: #DCFFFB;
    font-family: 'Montserrat', sans-serif;
}

.arrow {
    position: absolute;
    bottom:0%;
    color:#FF4500;
    font-weight: bolder;
    text-align: center;
    width: 100%;
    font-size: 2rem;
}
.cover-body footer{
    margin-top:0;
}
.arrow a:link,
.arrow a:visited {
    color:#FF4500;
}

.arrow a:hover,
.arrow a:active {
    color:#B19CD9;
}

@keyframes up {
    50% {
      transform:translate(0,-15px);
    }
  }
  .arrow {
    animation-name: up;
    animation-duration: 1s;
    animation-iteration-count: infinite;
  }
/*I added a animation here so the end user will notice this button, becaue it's small and on the bottom of the page,this.*/

/*Home page start here*/
.banner-home {
    background-image: url(../img/9.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    opacity: 85%;/*I made the opacity of the image to 85% so it's easier to read the text.*/
    padding-top:6rem;
    padding-bottom:6rem;
    text-align:center;
    border:1px solid black;
    margin-left:1rem;
    margin-right: 1rem;
}/*This is the top banner, I added lots of padding because there's only one line of text, but I want to have more space.*/

.banner-home h1 {
    font-family: 'Roboto Slab', serif;
    opacity: 100%;
    color:white;
}
.icongroup {
    display:flex;
    margin-top:2rem;
    margin-bottom:2rem;
}/*I added a display flex so I can center the social media icons group.*/

.home-social {
    justify-content: center;
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    grid-gap:2rem;
    grid-template-areas: 
    ". a ."
    "b c d"
    ". e .";
}/*I used grid area to style it, it's easier to do.*/

.followme {
    grid-area:a;
    background-color: #FF4500;
    width:80px;
    height:80px;
    text-align: center;
    display: flex;
    justify-content: center;
    color:white;
}
.followme p {
    margin-top:1.7rem;
}

.box-fb {
    grid-area:b;
    width:80px;
    height:80px;
    background-color: #CCDDFF;
    display: flex;
    justify-content: center;
}
.box-ig {
    grid-area:c;
    width:80px;
    height:80px;
    background-color: #B19CD9;
    display: flex;
    justify-content: center;
}
.box-tw {
    grid-area:d;
    width:80px;
    height:80px;
    background-color: #DCFFFB;
    display: flex;
    justify-content: center;
}
.box-li {
    grid-area:e;
    width:80px;
    height:80px;
    background-color: #FFEFFF;
    display: flex;
    justify-content: center;
}
/*I chose bright and neon colors for these 5 boxes just to make the website look more stylish and interesting.*/

hr {
    margin:1rem;
    background-color:#d4af37
}
.home-section {
    display:grid;
    text-align:center;
    margin:1rem;
    grid-gap:2rem;
}
.home-section img {
    max-width:100%;
}
.sec1, .sec2, .sec3, .sec4, .sec5, .sec6 {
    padding-left:2rem;
    padding-right:2rem;
    display:grid;
    grid-gap:1.5rem;
    padding-bottom:1rem;
    
}
.home-h2 {
    font-family: 'Roboto Slab', serif;
    text-align: center;
    margin-bottom:3rem;
    margin-top:2rem;
} 
.home-section h3 {
    font-family: 'Baloo Tamma 2', cursive;
}
.home-section p {
    font-family: 'Montserrat', sans-serif;
}
.home-section hr {
    display:none;
}
.sec-button {
    font-family: 'Baloo Tamma 2', cursive;
    font-weight: bold;
    color:#FF4500;
}/*I used this lava orange for the link color so it's more obvious.*/


footer {
    background-color: black;
    display:grid;
    color:white;
    font-family: 'Playfair Display', serif;
    margin-top:3rem;
}
.footernav {
    display:flex;
    justify-content: space-evenly;
    font-size:1.3rem;
    margin-top:1rem;
    padding-bottom:1rem;
}
/*I used flex to space between each navigations.*/

.footernav div a:link,
.footernav div a:visited {
    color: white;
    text-decoration: none;
}

.footer-social {
    text-align: center;
    font-size:1rem;
}
/*I set the margin top to 2rem so the centered text won't be affected by the go to top button.*/
.footer-social p {
    font-size:1.3rem;
}
.footer-icon {
    display: flex;
    justify-content: space-evenly;
    margin-top:-1rem;
}

.ig, .fb, .li, .tw {
    background-color: #d4af37;
    border-radius:5px;
}
.gototop a {
    font-size:1.5rem;
    color:#d4af37;
    float:right;
    margin-right:1rem;
    margin-top:-1rem;
}/*I added a negative margin on top because I want the gototop button more close to the top, and separate it from rest of the footer content.*/

.gototop a:link,
.gototop a:visited {
    color:#d4af37;
}
footer p{
    text-align: center;
    margin-top:1.5rem;
    margin-bottom:1.5rem;
}

/*Porfolio page start here*/
.portfolio-body img {
    max-width:100%;
}
.banner-portfolio {
    background-image: url(../img/21.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    opacity: 85%;/*I made the opacity of the image to 85% so it's easier to read the text.*/
    padding-top:6rem;
    padding-bottom:6rem;
    text-align:center;
    border:1px solid black;
    margin-left:1rem;
    margin-right: 1rem;
}
.banner-portfolio h1 {
    font-family: 'Roboto Slab', serif;
    opacity: 100%;
    color:white;
}
.icongroup {
    display:flex;
    margin-top:2rem;
    margin-bottom:2rem;
}
.portfolio-social {
    justify-content: center;
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    grid-gap:2rem;
    grid-template-areas: 
    ". a ."
    "b c d"
    ". e .";
}/*Again, I used grid area to style it, because grid area is easier to style a more complicate grid layout.*/

.por-group1 {
    margin:1rem;
}
.por-group1 p {
    text-align: center;
    margin-top:1rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.15rem;
}
.por-group1 img {
    margin-top:2rem;
}

.por-group2 .imggroup {
    display: none;
}/*I made the image group disapper becasue I used slideshow from Bootstrap on the mobile view instead, it saves more space.*/

.por-section h2 {
    font-family: 'Baloo Tamma 2', cursive;
    text-align: center;
    margin-top: 3.5rem;
}
.por-group2 .slideshow{
    margin:1rem;
    border:1px solid black;
}
.por-group3 {
    margin:1rem;
}
.arth4 {
    font-family: 'Baloo Tamma 2', cursive;
    text-align: center;
}
.art1, .art2, .art3 {
    display: flex;
    flex-direction: column;
    margin-top:2rem;
}
.por-group3 img {
    max-width: 80%;
    margin-top:2rem;
}/*I set the image width to 80% max, becasue the image is too big on mobile view.*/

.por-group3 .card {
    background-color: #ebecf0;
    color:black;
}
.por-group3 .card p {
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom:1.5rem;
}

.por-group4 .videogroup{
    display:none;
}/*Again, I have it not displayed because I used slideshow feture from bootstrap just to save some space, also made the website more functional.*/

.por-group4 {
    margin:1rem;
}
.card {
    background-color: black;
    color:white;
    text-align: center;
}
.card h5 {
    font-family: 'Baloo Tamma 2', cursive;
    font-size:2rem;
}
.card p {
    font-family: 'Montserrat', sans-serif;
}
.card-body .btn {
    background-color: #FFEFFF;
    color: #FF4500;
}
.portfolio-body footer {
    margin-top:5rem;
}

/*About page start here*/
.banner-about {
    background-image: url(../img/18.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    opacity: 85%;
    padding-top:6rem;
    padding-bottom:6rem;
    text-align:center;
    border:1px solid black;
    margin-left:1rem;
    margin-right: 1rem;
}
.banner-about h1 {
    font-family: 'Roboto Slab', serif;
    opacity: 100%;
    color:white;
}
.about-main h1 {
    font-family: 'Baloo Tamma 2', cursive;
    text-align:center;
    margin-top:3rem;
}
.about-sec1 {
    display:grid;
}
.about-sec1 .card {
    margin-left:2rem;
    margin-right:2rem;
    margin-top:1rem;
    background-color:#ebecf0;
    color:black;
    text-align: center;
    border:none;
}/*I used this light grey to divide different sections of the page.*/

.about-sec1 .card .card-body {
    margin-top:1rem;
}
.about-sec1 .card .card-body h5 {
    font-size:1.5rem;
}
.about-des h3 {
    font-family: 'Baloo Tamma 2', cursive;
    font-size: 2rem;
    text-align:center;
}
.about-des {
    margin:2rem;
    background-color:#ebecf0;
    border-radius:1%;
    padding:1.5rem;
    font-family: 'Montserrat', sans-serif;
}/*I used this light grey to divide different sections of the page.*/

.about-des p {
    margin-top:1rem;
}

.about-imggroup {
    display:none;
}
.about-img-slide {
    background-color:#ebecf0;
    border-radius:1%;
    padding:1rem;
    margin-left:2rem;
    margin-right: 2rem;
    margin-bottom:5rem;
}/*I used this light grey to divide different sections of the page.*/


/*Contact page start here*/
iframe {
    max-width:100%;
}
.banner-con {
    background-image: url(../img/7.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    opacity: 85%;
    padding-top:6rem;
    padding-bottom:6rem;
    text-align:center;
    border:1px solid black;
    margin-left:1rem;
    margin-right: 1rem;
}
.banner-con h1 {
    font-family: 'Roboto Slab', serif;
    opacity: 100%;
    color:white;
}
.con-h1 {
    font-family: 'Baloo Tamma 2', cursive;
    text-align:center;
    margin-top:3rem;
}
.map {
    border:1px solid black;
    margin-left: 2rem;
    margin-right:2rem;
}
.con-card {
    background-color: black;
    color:white;
    display:flex;
    flex-direction: column;
    justify-content: center;
    padding:1rem;
    margin:2rem;
}/*I have the background color in black because it loos more professional.*/

.con-card h3 {
    text-align: center;
    font-family: 'Baloo Tamma 2', cursive;
    font-size:2rem;
}
.con-info {
    margin-right: auto;
    margin-left: auto;
    font-family: 'Montserrat', sans-serif;
}

.contact-form {
    margin:1rem;
    padding-top:2rem;
}

legend {
    font-family: 'Baloo Tamma 2', cursive;
    text-align: center;
    font-size: 2rem;
}

label {
    font-size: 1.25rem;
    margin-bottom:0.5rem;
    font-family: 'Baloo Tamma 2', cursive;
}
fieldset {
    display: grid;
}

fieldset input {
    width:100%;
    line-height:3rem;
    font-size:1rem;
    margin-bottom:1rem;
    background-color: black;
    border-radius:10px;
    border:none;
    color:white;
}
textarea {
    width:100%;
    height:150px;
    font-size:1.1rem;
    border-radius:10px;
    background-color: black;
    line-height:3rem;
    color:white;
}
::placeholder {
    color:white;
    font-family: 'Montserrat', sans-serif;
}
.contact-button {
    border-radius:10px;
    background-color: black;
    color:white;
    font-family: 'Baloo Tamma 2', cursive;
    font-size:1.25rem;
    line-height:2.25rem;
}
.button {
    display: flex;
    justify-content: center;
    margin-top:2rem;
}

/*Tablet view start here.*/
@media (min-width:700px) {
    /*cover page start here*/
    #coverslide {
        max-width:50%;
        margin-left: auto;
        margin-right:auto;
    }
    /*home page start here*/
    .dropdown {
        display:none;
    }/*I hided the dropdown menu to show the regular navigation.*/

    .headernav {
        display:inline-block;
        display:flex;
        justify-content: space-evenly;
        margin-top:1rem;
        color:black;
        font-size: 1rem;
    }
    a.active {
        text-transform: uppercase;
    }
    .headernav div a:link,
    .headernav div a:visited {
        color:black;
        text-decoration: none;
    }
    .headernav div a:hover,
    .headernav div a:active {
        color:#FF4500;
    }
    .banner-home {
        margin-left: 3rem;
        margin-right: 3rem;
        padding:7rem;
    }
    .home-social {
        grid-template-columns: repeat(5,1fr);
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        ". . a . ."
        "b c . d e";
    }
    .home-body hr {
        margin-left:3rem;
        margin-right:3rem;
    }
    .home-section {
        grid-gap:0; 
    }
    .home-section img {
        max-width: 45%;
    }/*I set the image width smaller because I have the text and the image on the same line, and I want the height of the image to match the text content.*/

    .sec1, .sec2, .sec3, .sec4, .sec5, .sec6 {
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 3rem;
    }/*I used flex to style the layout.*/

    .sec2 img, .sec4 img, .sec6 img {
        order:1;
    }/*I used order to make the image display on the right side.*/

    .s1-content, .s2-content, .s3-content, .s4-content, .s5-content, .s6-content {
        margin-top:1rem;
    }
    footer {
        display:grid;
        grid-template-columns: repeat(2,1fr);
    }
    /*I used grid to align the footer.*/

    .footernav {
        flex-direction: column;
        line-height: 2rem;
        font-size:1.2rem;
        margin-left: 3.5rem;
    }
   
    .footer-social {
        float: right;
        margin-top:2rem;
        margin-right:1rem;
    }
    .footer-icon {
        justify-content: center;
    }
    .footer-icon .tw, .footer-icon .fb, .footer-icon .li {
        margin-left:2rem;
    }
 
    .gototop {
        margin-top:1rem;
    }
    footer p {
        grid-column:1/3;
        text-align: center;
        margin-top:-0.5rem;
    }

    /*Portfolio page start here*/
    .banner-portfolio {
        margin-left: 3rem;
        margin-right: 3rem;
        padding:7rem;
    }
    .portfolio-social {
        margin-top:2rem;
        grid-template-columns: repeat(5,1fr);
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        "b c a d e";
    }
    .por-group1 {
        margin-left: 3rem;
        margin-right: 3rem;
        margin-top:5rem;
    }
    .por-group1 img {
        max-width: 50%;
        margin-top:0;
    }/*I set the width smaller just to match the height of the text.*/

    .laptop, .video, .gp1-portrait {
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 3rem;
        margin-top:-3rem;
    }/*I used grid to style the layout.*/

    .video img {
        order:1;
    }
    .laptop p, .gp1-portrait p {
        margin-left: 1rem;
    }
    .video p {
        margin-right: 1rem;
    }
    
    .por-group2 .slideshow {
        display: none;
    }/*I hided the slideshow so I can expand the image group.*/

    .por-group2 .imggroup {
        margin-left: 3rem;
        margin-right: 3rem;
        display:grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(3,1fr);
    }
    .por-group2 .imggroup img {
        max-width: 100%;
        padding:1rem;
    }
    .imggroup .img1,.imggroup .img2, .imggroup .img4, .imggroup .img5{
        border-right: 1px solid black;
        border-bottom: 1px solid black;
    }
    .imggroup .img3, .imggroup .img6 {
        border-bottom: 1px solid black;
        margin-bottom: -1px;
    }
    .imggroup .img7, .imggroup .img8 {
        border-right: 1px solid black;
    }
    @keyframes grow {
        100% {
          transform:scale(1.5);
        }
      }
      .imggroup img:active {
        animation-name: grow;
        animation-duration: 1s;
        animation-iteration-count: 1;
      }
    /*I added a animation here becasue with the grid layout, the images are a bit too small, so when you are clicking on the image, it will grow.*/

    .por-group3 {
        margin-left: 3rem;
        margin-right: 3rem;
        display:flex;
    }/*I used flex here, because flex automately display the content horizontally.*/

    .por-group3 h4 {
        margin-top:2rem;
        font-size:1.5rem;
    }
    .por-group3 .card-body {
        margin:0;
        padding:0;
    }

    .art1 p, .art2 p, .art3 p {
        font-size:1rem;
        padding:0;
        margin:0;
    }
    .art2, .art3 {
        margin-left:0.5rem;
    }
    .videomobile {
        display: none;
    }/*I hided the Bootstrap slideshow to expand the content.*/

    .por-group4 .videogroup {
        display: flex;
        margin-left: 3rem;
        margin-right: 3rem;
        text-align: center;
        flex-direction: column;
    }
    .v-gp1, .v-gp2, .v-gp3 {
        display:flex;
        flex-direction: row;
    }
    .v-gp2, .v-gp3 {
        margin-top:2rem;
    }
    .por-group4 h4 {
        font-family: 'Baloo Tamma 2', cursive;
        margin-top:1rem;
    }
    .v-gp1 img, .v-gp3 img {
        order:1;
    }/*I used flex and order to style the layout because it's easier than grid.*/

    .videogroup img {
        max-width: 50%;
    }
    .videogroup p {
        font-family: 'Montserrat', sans-serif;
        font-size: 1rem;
        margin-left:1.5rem;
        margin-right:1.5rem;
    }
    .videogroup .btn {
        background-color: black;
        color:#CCDDFF;
        font-family: 'Baloo Tamma 2', cursive;
        margin-top:0.5rem;
    }

    /*About page start here*/
    .banner-about {
        margin-left: 3rem;
        margin-right: 3rem;
        padding:7rem;
    }
    .about-sec1 {
        margin-left:5rem;
        margin-right:5rem;
    }
    .about-img-slide {
        display:none;
    }/*I hided the Bootstrap slideshow to expand the images content.*/

    .about-main img {
        max-width: 100%;
    }
    .about-imggroup {
        margin-left:7rem;
        margin-right:7rem;
        margin-top:3rem;
        margin-bottom:5rem;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(3,1fr);
        grid-template-areas: 
        "abimg1 . abimg2"
        ". abimg3 ."
        "abimg4 . abimg5";
    }/*I used grid area, because it's easier to deal with complacated layout.*/

    .ab-p1 {
        grid-area: abimg1;
        background-color: #ebecf0;
        padding:2rem;
    }
    .ab-p2 {
        grid-area: abimg2;
        background-color: #ebecf0;
        padding:2rem;
    }
    .ab-p3 {
        grid-area: abimg3;
        background-color: #ebecf0;
        padding:2rem;
    }
    .ab-p4 {
        grid-area: abimg4;
        background-color: #ebecf0;
        padding:2rem;
    }
    .ab-p5 {
        grid-area: abimg5;
        background-color: #ebecf0;
        padding:2rem;
    }
    /*I add a background color just to match the content on the first haf of the page, and also add more style to it.*/

    @keyframes grow {
        100% {
          transform:scale(2);
        }
      }
      .about-imggroup img:active {
        animation-name: grow;
        animation-duration: 1s;
        animation-iteration-count: 1;
      }/*I added a grow animation so the user can see the image bigger and more clear.*/


    /*contact page start here*/
    .banner-con {
        margin-left: 3rem;
        margin-right: 3rem;
        padding:7rem;
    }
    .sec-con {
        margin-left: 3rem;
        margin-right: 3rem;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
       
    }
    .map {
        flex-basis: 45%;
        margin:0;
        margin-right: 0.5rem;
    }
    .contact-div {
        flex-basis: 45%;
        margin:0;
        margin-left: 0.5rem;
    }
    .con-card {
        margin:0;
    }
    .form {
        flex-basis: 95%;
    }
}

/*Desktop view start here.*/
@media (min-width:1200px) {
    /*cover page start here*/
    #coverslide {
        max-width:30%;
        margin-left: auto;
        margin-right:auto;
    }

    /*home page start here*/
    h1 {
        font-size:3rem;
    }
    .header {
        display:flex;
        justify-content: space-between;
    }/*I used flex to style header navigation, I used space between to make the content on two ends.*/

    .header a {
        margin:0;
        margin-left:3rem;
    }
    .headernav {
        margin-right:3rem;
        margin-top:3.5rem;
        font-size:1.25rem;
    }
    .banner-home {
        margin-left: 8rem;
        margin-right: 8rem;
        margin-top:2rem;
    }
    .home-social {
        grid-template-areas: 
        ". b . e ."
        "c . a . d";
    }
    @keyframes hover {
        100% {
          transform: translate(0, -15px); 
        }
      }
      .home-social a:hover {
        animation-name:hover;
        animation-duration: 0.7s;
        animation-iteration-count: infinite; 
      }/*I added a animation here, where you hover your mouse on one of these boxes, it will go up and down, just to make the website more interesting and more functional.*/

    .home-body hr {
        margin-left: 8rem;
        margin-right: 8rem;
    }
    .home-section {
        margin-left: 8rem;
        margin-right: 8rem;
        display:flex;
        flex-wrap:wrap;
    }
    .s1-content, .s2-content, .s3-content {
        padding:1.5rem;
    }
    .s1-content p, .s2-content p, .s3-content p {
        font-size:1.2rem;
    }
    .home-section hr {
        display: inline-block;
        flex-basis: 100%;
        margin:0;
    }/*I made the hr appear just to divide the bottom section from the top.*/

    .sec4, .sec5, .sec6 {
        display: flex;
        flex-wrap: wrap;
        flex-basis:33%;
        margin-top:5rem;
    }
    .sec4 img, .sec5 img, .sec6 img {
        max-width:100%;
    }
    .sec4 img, .sec6 img {
        order:0;
    }
    footer {
        margin-top: 0rem;
    }
    @keyframes up {
        50% {
          transform:translate(0,-5px);
        }
      }
      .gototop {
        animation-name: up;
        animation-duration: 1s;
        animation-iteration-count: infinite;
      }/*I added a animation on the gototop button, so the end user will notice this feature, since it's on the bottom of the page, and it's small.*/

    
    /*portfolio page start here*/
    .banner-portfolio {
        margin-left: 8rem;
        margin-right: 8rem;
        margin-top:2rem;
    }
    .portfolio-social {
        grid-template-areas: 
        "c . a . d"
        ". b . e .";
    }
    @keyframes hover {
        100% {
          transform: translate(0, -15px); 
        }
      }
      .portfolio-social a:hover {
        animation-name:hover;
        animation-duration: 0.7s;
        animation-iteration-count: infinite;
      }
    
    .por-group1 {
        display: grid;
        margin-left: 8rem;
        margin-right: 8rem;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(3,1fr);
        grid-template-areas: 
        "lt . pt"
        "lt vd pt"
        ". vd .";
    }/*I used grid area because the way I'm setting up the layout, grid area is easier to style it.*/

    .laptop {
        grid-area:lt;
    }
    .video {
        grid-area:vd;
    }
    .gp1-portrait {
        grid-area: pt;
    }
    .por-group1 img {
        max-width: 100%;
    }
    .laptop, .video, .gp1-portrait {
        display:flex;
        flex-direction: column;
        margin-bottom: 3rem;
        margin-top:-1rem;
    }
    .por-group1 p {
        padding-left:3rem;
        padding-right:3rem;
    }
    .por-group1 p {
        margin:0;
        padding:1.5rem;
    }
    .aptop img {
        margin-bottom:0;
    }
    .por-group1 .video img {
        order:0;
    }

    .por-group2 .imggroup img {
        border:0;
        padding:0;
    }

    .por-group2 .imggroup {
        margin-left: 8rem;
        margin-right: 8rem;
        margin-top:2rem;
        margin-bottom:5rem;
        grid-template-columns: repeat(5,1fr);
        grid-template-rows: repeat(5,1fr);
        grid-template-areas:
        ". . p1 . ."
        ". p2 . p3 ."
        "p4 . p5 . p6"
        ". p7 . p8 ."
        ". . p9 . .";
    }/*I used grid area to style it, becasue one piece of code is enough, and I want to add more style on the portfolio page.*/

    .img1 {
        grid-area: p1;
    }
    .img2 {
        grid-area: p2;
    }
    .img3 {
        grid-area: p3;
    }
    .img4 {
        grid-area: p4;
    }
    .img5 {
        grid-area: p5;
    }
    .img6 {
        grid-area: p6;
    }
    .img7 {
        grid-area: p7;
    }
    .img8 {
        grid-area: p8;
    }
    .img9 {
        grid-area: p9;
    }

    .por-group3 {
        display: flex;
        flex-direction: row;
        margin-left: 8rem;
        margin-right: 8rem;
        justify-content: space-between;
    }
    .por-group3 img {
        order:0;
        margin-top:1rem;
        padding:0;
        max-width:80%;
    }
    .art2, .art3 {
        margin-left:1.25rem;
    }
    
    .por-group3 p {
        padding-top:0;
    }
    
    .por-group4 .videogroup {
        display: grid;
        margin-left: 8rem;
        margin-right: 8rem;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(3,1fr);
        grid-template-areas: 
        ". v2 ."
        "v1 v2 v3"
        "v1 . v3";
    }/*This layout is matching the first group at the top, just to add mroe style.*/

    .videogroup img {
        order:0;
        max-width:100%;
    }
    .v-gp1 {
        grid-area: v1;
        flex-direction: column;
        margin-top:2.25rem;
    }
    .v-gp2 {
        grid-area: v2;
        flex-direction: column;
    }
    .v-gp3 {
        grid-area: v3;
        flex-direction: column;
        margin-top:2.25rem;
    }
    .videogroup h4 {
        margin-bottom:0;
    }
    
    .videogroup .btn {
        margin-top: 0;
    }

    /*about page start here*/
    .banner-about {
        margin-left: 8rem;
        margin-right: 8rem;
        margin-top:2rem;
    }
    .about-sec1 {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        margin-left:8rem;
        margin-right:8rem;
    }
    .about-sec1 .card {
        margin-top:2rem;
        margin-bottom:2rem;
        display:flex;
        flex-direction: column;
        justify-content: center;
    }
    .about-sec1 .card .card-body h5 {
        font-size:1.75rem;
    }
    .about-des {
        font-size:1.25rem;
        padding-left:3rem;
        padding-right:3rem;
    }
    .about-des p {
        margin-top:0;

    }
    .about-imggroup {
        margin-left: 10rem;
        margin-right: 10rem;
        margin-top:5rem;
        grid-template-columns: repeat(5,1fr);
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        "abimg1 . abimg2 . abimg3"
        ". abimg4 . abimg5 .";
    }
    .ab-p1, .ab-p2, .ab-p3, .ab-p4, .ab-p5 {
        border-radius: 50%;
    }/*I made the pictues round becasue it's more stylish, and I want to make it look like a image wall, and the grey background color it's like a image frame.*/

    .ab-p4, .ab-p5 {
        margin-top:1rem;
    }

    /*Contact page start here*/
    .banner-con {
        margin-left: 8rem;
        margin-right: 8rem;
        margin-top:2rem;
    }
    .sec-con {
        margin-left: 8rem;
        margin-right: 8rem;
        margin-bottom:5rem;
    }
    .map {
        flex-basis: 100%;
        margin-bottom:6rem;
    }
    .contact-div {
        flex-basis: 45%;
        padding-right:6rem;
        border-right:0.5px solid black;
    }/*I used flex basis to style the layout on how much space each item need to take.*/

    .con-card {
        padding:3rem;
        margin-top:3rem;
    }
    .form {
        flex-basis: 45%;
        margin-top:0;
        padding-left:6rem;
        border-left:0.5px solid black;
    }/*I used flex basis to style the layout on how much space each item need to take.*/

    .contact-form {
        padding:0;
        margin:0;
    }
    fieldset {
        padding:0;
    }
    .form legend {
        margin-top:0;
    }
    
}
/*The css code are validated from css validator.*/