* {
    box-sizing: border-box;
}/*I added a box sizing, so the padding will be included in a div.*/
body {
    background-color: #FCF6E8;
}

/*mobile view start here*/
.arrow {
    display: none;
}/*I made the arrow disapper in mobile mode.*/

/*Home Page start here*/
/*I set the margin to 0.5rem for my mobile view because the content is big enough to see*/
.home-header {
    display:grid;
    background-color: black;
}/*this is the header, I chose black becuase it match the japanese theme. and grid to make the navigations go vertically.*/

.logo{
    margin-left:auto;
    margin-right:auto;
    margin-top:0.5rem;
}
/*I used margin left/right: auto to center the logo.*/

.logoimg {
    max-width:180px;
}
/*For the background color on the header navigations, I chose black then fading to grey.*/
.headernav .home {
    text-align:center;
    line-height: 3rem;
    border-radius: 6px;
    font-family:'Courgette', cursive;
    font-size:1.5rem;
    color: #b10f0f;
    background-color:#343333;
}
.headernav .menu {
    text-align:center;
    line-height: 3rem;
    border-radius: 6px;
    font-family:'Courgette', cursive;
    font-size:1.5rem;
    color: #b10f0f;
    background-color:#414040;
}/*I used the red color to match the theme.*/
.headernav .about {
    text-align:center;
    line-height: 3rem;
    border-radius: 6px;
    font-family:'Courgette', cursive;
    font-size:1.5rem;
    color: #b10f0f;
    background-color:#535353;
}
.headernav .contact {
    text-align:center;
    line-height: 3rem;
    border-radius: 6px;
    font-family:'Courgette', cursive;
    font-size:1.5rem;
    color: #b10f0f;
    background-color:#767575;
}

.headernav a.active {
    font-size:2rem;
}/*I made the activting link a bigger size, so the end user will know which page they're on.*/

.headernav div a:link,
.headernav div a:visited {
    color: #b10f0f;
    text-decoration: none;
}

.banner {
    display:flex;
    flex-wrap: wrap;
    margin:0.5rem;
}/*I used flex-wrap wrap to align the banners, make the smaller banner group start in a new line, it's less code than grid-template-row.*/

.bannergroup {
    display:flex;
    flex-direction: row;
    flex-basis:100%;
}
.banner1 {
    background-image: url(../img/h4.jpg);
    /*This image is from unsplash.com   https://unsplash.com/photos/n--CMLApjfI*/
    background-repeat: no-repeat;
    background-size:cover;
    opacity: 90%;
    flex-basis: 100%;
    border-bottom:3px solid #FCF6E8;
}
/*I set the opcity to 90% to make the image looks more yellowish, so it can match the background color*/

.banner h1 {
    font-family: 'Courgette', cursive;
    text-align: center;
    padding-top:6rem;
    padding-bottom:3rem;
    margin-left:1rem;
    margin-right:1rem;
    color:#b10f0f;
}
.banner h2 {
    color:#d4af37;
    text-align:center;
    font-family: 'Yellowtail', cursive;
}
.banner h1 a:link,
.banner h1 a:visited {
    color:#b10f0f;
    text-decoration: none;
}

.social {
    display:flex;
    justify-content: center;
    padding-bottom:2rem;
}
.social img {
    background-color: #d4af37;  
    border-radius:5px;
}
.ig, .tw, .fb {
    margin-right:1.5rem;
}

.banner2 {
    background-image: url(../img/h5.jpg);
    /*This image is from unsplash.com   https://unsplash.com/photos/GAMBT_XNuyc*/
    background-repeat: no-repeat;
    background-size:cover;
    opacity: 90%;
    flex-basis: 50%;
    border-right:3px solid #FCF6E8;
}

.banner3 {
    background-image: url(../img/h2.jpg);
    /*This image is from unsplash.com   https://unsplash.com/photos/z6SXax6vhm0*/
    background-repeat: no-repeat;
    background-size:cover;
    opacity: 90%;
    flex-basis: 50%;
}
.store {
    margin:0.5rem;
    margin-top: 5rem;
    margin-bottom:5rem;
}

.storeimg {
    max-width:100%;
    border:2px solid black;
}/*max-width to make the image responsive*/

.storetext h2 {
    font-family: 'Nanum Myeongjo', serif;
    font-size:2rem;
}
.storetext {
    text-align:center;
    max-width:75%;
    margin-left:auto;
    margin-right:auto;
}
/*I set the width to 75% on every paragraphy on this page so it will be matching.*/

.storetext p {
    padding:1rem;
    font-family: 'Courgette', cursive;
    border-left:2px solid black;
    border-right:2px solid black;
}
/*I added a border on both side for all the p through out this page, so it looks like an chopstick holding the text.*/

.storetext .ab-button {
    border:1px solid black;
    border-radius:15px;
    font-size:1rem;
    background-color: black;
    font-family: 'Courgette', cursive;
    line-height:2rem;
    max-width:70%;
    margin-left:auto;
    margin-right:auto;
}
.storetext .ab-button a:link,
.storetext .ab-button a:visited {
    color:#d4af37;
    text-decoration: none;
}
/*I set the color to gold, so it's matching*/
.home-h2 {
    font-family: 'Yellowtail', cursive;
    text-align:center;
    font-size:2rem;
    margin-top:3rem;
}

.home-section {
    margin:0.5rem;
}
img {
    max-width: 100%;
}

.s1,.s2,.s4,.s5 {
    display:grid;
    text-align:center;
}
/*I used the grid to align the content, it automately added some space between.*/

.home-section h3 {
    font-size: 1.5rem;
    font-family: 'Nanum Myeongjo', serif;
    margin-bottom: 0rem;
}
.home-section p {
    font-family: 'Courgette', cursive;
    text-align:center;
    max-width:75%;
    margin-left:auto;
    margin-right:auto;
    border-left:2px solid black;
    border-right:2px solid black;
}
/*I used black for the text and gold for the button to match the theme of this resturant.*/

.home-section button {
    max-width:30%;
    margin-left:auto;
    margin-right:auto;
    border-radius: 10px;
    border: 1px solid white;
    background-color: black;
    color:#d4af37;
    margin-bottom: 2rem;
    font-size: 1.5rem;
    line-height:2rem;
}
.s3 {
    display: none;
}
/*I made this s3 dispear becuase i don't think it's matching the content on mobile and tablet view.*/

footer {
    background-color: black;
    display:grid;
    color:white;
    font-family: 'Playfair Display', serif;
}
.footernav {
    display:flex;
    justify-content: space-evenly;
    font-size:1.5rem;
    margin-top:1rem;
    padding-bottom:1rem;
}
/*I used flex to space between each navigations.*/

.footernav div a:link,
.footernav div a:visited {
    color: white;
    text-decoration: none;
}

.footer-social {
    text-align: center;
    font-size:1rem;
    font-family: 'Yellowtail', cursive;
    margin-top:2rem;
}
/*I set the margin top to 2rem so the centered text won't be affected by the go to top button.*/

.footer-icon {
    display: flex;
    justify-content: space-evenly;
}
/*I used flex to space between the icons.*/

.ig, .fb, .li, .tw {
    background-color: #d4af37;
    border-radius:5px;
}
.gototop a {
    font-size:1.5rem;
    background-color: #d4af37;
    border:1px solid black;
    border-radius:50%;
    float:right;
    margin-right:1rem;
}
.gototop a:link,
.gototop a:visited {
    color:black;
}
footer p{
    text-align: center;
    margin-top:1.5rem;
    margin-bottom:1.5rem;
}

/*Menu page start here*/
.menu-banner {
    display:flex;
    flex-direction: column;
    margin:0.5rem;
}
.spdish {
    flex-basis: 100%;
    max-width:100%;

}
.displayimg {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.menuimg-group {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap:2px;
    margin-top:2px;
}
/*I set the three smaller images into a div so it's easier to use flex on the displayimg div, it's use less code, and i used grid to set these three images, because I can use grid gap to align each space between, I don't need to use margin separtely on each images.*/

.special {
    display:grid;
    grid-template-rows: repeat(3,1fr);
    grid-template-columns: 1fr 1fr;
    margin-top:2px;
    background-color: #19385C;
    color:#d4af37;
}
/*I used dark blue to match the rest of the menu.*/

.special h2 {
    grid-column: 1/3;
    text-align: center;
    margin-bottom: 0;
    font-family: 'Nanum Myeongjo', serif;
    font-size:2rem;
}
.special p {
    font-family: 'Yellowtail', cursive;
    font-size: 1.25rem;
    margin:1rem;
    text-align: center;

}

.menu-section {
    margin:0.5rem;
    display: flex;
    flex-direction: column;
}
.menu-section hr {
    width:100%;
}/*because of the hr on the other page is effectinf this one, so i have to set the width to 100% again on this page.*/

.menu-section h2 {
    text-align: center;
    margin-top:2.5rem;
    font-family: 'Yellowtail', cursive;
    font-size: 2.5rem;
}

.sectionp1 div, .sectionp2 div {
    margin-bottom: 3rem;
    text-align: center;
    font-family: 'Yellowtail', cursive;
    font-size:1.2rem;
}
.sectioncontent h3 {
    font-family: 'Nanum Myeongjo', serif;
}
.sectionp1 div p, .sectionp2 div p {
    padding-left:2.5rem;
    padding-right: 2.5rem;
}
/* I used padding so the spacing will only effect inside the div.*/

.dis2, .dis4, .dis6, .dis8, .dis10, .dis12 {
    background-color: #19385C;
    padding-top:1rem;
    padding-bottom:1rem;
    color:#d4af37;
}
/* I set the background-color to dark blue to matching the banner, and that's also why I gave each dish a div.*/

.pagebutton {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 2.5rem;
}
.pagebutton button {
    border-radius:8px;
    font-family: 'Nanum Myeongjo', serif;
    line-height: 2rem;
    font-size:1.2rem;
    border:1.5px outset #19385C;
    background-color: white;
    color:#ac9035;
}


/*About Page start here*/
.about-banner {
    background-image: url(../img/h1.jpg);
    /*This image is from unsplash.com   https://unsplash.com/photos/hPeGDIGHnoI*/
    background-repeat: no-repeat;
    background-size: cover;
    margin:0.5rem;
}
.about-banner h1 {
    font-family: 'Courgette', cursive;
    text-align: center;
    color:#c09f34;
    padding-top:3rem;
    margin-left:1rem;
    margin-right:1rem;
}
.about-banner p {
    font-family: 'Parisienne', cursive;
    text-align:center;
    color:#c09f34;
    font-size:1.2rem;
    padding-bottom:2rem;
    font-weight: bold;
    margin-left:1rem;
    margin-right:1rem;
}
.about-banner h2 {
    color:#c09f34;
    text-align:center;
    font-family: 'Yellowtail', cursive;
}

.about-h2 {
    font-family: 'Yellowtail', cursive;
    text-align:center;
    font-size:2rem;
    margin-top:3rem;
    margin-bottom:3rem;
}

.about-section {
    margin:0.5rem;
    display:flex;
    flex-direction: column;
    justify-content: center;
}
/*I used flex to align the content, because it's less code than the grid.*/

.p1i, .p2i, .p3i, .p4i, .p5i {
    border-radius: 50%;
    max-width:85%;
    margin-left:auto;
    margin-right:auto;
    margin-top:1rem;
}
/*I used max-width to align the space of the text.*/

.persona1, .persona2, .persona3, .persona4, .persona5 {
    display:grid;
    margin-bottom:3rem;
}
/*I used grid to align the content, becasue grid automately add some space between each content.*/

.p1p, .p2p, .p3p, .p4p, .p5p {
    display:flex;
    flex-direction: column;
}
/*I used flex to align the pictures and the icons.*/

.psocial {
    margin-left: auto;
    margin-right: auto;
    margin-top:1.5rem;
}
.psocial img {
    background-color: #d4af37;
    border-radius:50%;
}
.about-section h3 {
    font-size: 1.5rem;
    font-family: 'Courgette', cursive;
    text-align:center;
}
.about-section p {
    font-family: 'Nanum Myeongjo', serif;
    margin-left:2rem;
    margin-right:2rem;
}
.persona1, .persona3, .persona5 {
    background-color: #19385C;
    color:#d4af37;
}
/*I changed the color to add more style, and matching my theme.*/

.persona2, .persona4 {
    border-top:1px solid #d4af37;
    border-bottom:1px solid #d4af37;
}
.gellarytext {
    margin-left: 2rem;
    margin-right: 2rem;
}

.gellarytext h1 {
    color:#d4af37;
    text-align:center;
    font-family: 'Courgette', cursive;
    font-size:2.5rem;
    margin-bottom:0;
}
.gellarytext p {
    text-align:center;
    font-family: 'Parisienne', cursive;
    font-size:1.5rem;
    font-weight: bold;
    margin-top:0.5rem;
}
.gellary {
    height: 300px;
    overflow-y: scroll;
    padding:2rem;
    margin:0.5rem;
    margin-bottom:3rem;
    border-radius: 5%;
    border-left: 2px solid black;
    border-right:2px solid #d4af37;
}
/*I used overflow on the gallery so first, the photos won't take much spave on the mobile page, and it's more functional.*/

.gellary img {
    max-width: 100%;
    margin-bottom:2rem;
    border:2px #d4af37 outset;
}
.gellary .g9 {
    margin-bottom:0;
}

/*Contact page start here*/
.contact-banner {
    background-image: url(../img/h3.jpg);
    /*This image is from unsplash.com    https://unsplash.com/photos/a5ToDH34m0I*/
    background-repeat: no-repeat;
    background-size: cover;
    display:flex;
    flex-direction: column;
    margin:0.5rem;
}

.contact-banner h1 {
    margin:auto;
    padding-top:5rem;
    font-family: 'Courgette', cursive;
    text-align: center;
    color:#d4af37;
}

.contact-banner h2 {
    color:#d4af37;
    text-align:center;
    font-family: 'Yellowtail', cursive;
    margin-top:3rem;
}
.mapgroup {
    margin:0.5rem;
}
.mapgroup h2 {
    font-family: 'Yellowtail', cursive;
    text-align:center;
    font-size:2rem;
    margin-top:3rem;
}
.map {
    border:1px solid black;
}
.map iframe {
    max-width: 100%;
    max-height: 300px
}
/*I made the map shorter on the mobile view, so it won't took that much space.*/

.contact-section {
    margin:0.5rem;
}
.contactinfo {
    text-align:center;
    margin-top:3rem;
    padding-bottom:1rem;
    border-bottom:1px solid #d4af37;
}
.contactinfo h2 {
    font-family: 'Yellowtail', cursive;
    text-align:center;
    font-size:2rem;
    margin-top:3rem;
}
.contactinfo p {
    font-size:1.25rem;
    font-family: 'Nanum Myeongjo', serif;
}
.contact-form h2 {
    font-family: 'Yellowtail', cursive;
    text-align:center;
    font-size:2rem;
}
.contact-form {
    display:flex;
    flex-direction: column;
    justify-content: center;
    padding:2rem;
    padding-top:1rem;
}
/* I used flex to align each input in the contact form, because it's less code than grid.*/

legend {
    font-size:1.5rem;
    margin:1rem;
    font-family: 'Yellowtail', cursive;
}
fieldset {
    display:grid;
    margin-bottom:1.5rem;
    font-family: 'Nanum Myeongjo', serif;
    border-color: #d4af37;
    border-radius: 10px;
}/*I used grid to just make them align vertically.*/

label {
    font-size: 1.25rem;
    margin-bottom:0.5rem;
}
input {
    width:100%;
    font-size:1.25rem;
    line-height:2rem;
    margin-bottom:1rem;
    border-radius:10px;
}
textarea {
    width:100%;
    height:150px;
    font-size:1.25rem;
    border-radius:10px;
}
.contact-button {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size:1.5rem;
    background-color: #d4af37;
    border-color: #d4af37;
    color:white;
    border-radius:10px;
    margin-top:1rem;
    font-family: 'Courgette', cursive;
    padding-left:1rem;
    padding-right:1rem;
}


/*Tablet view starts here.*/
@media (min-width:700px) {
    .arrow {
        display: block;
        margin-top:-1.5rem;
        text-align:center;
        font-weight: bolder;
        font-size:2rem;
    }
    /*I made the arrow appear on both tablet and desktop view, i set the margin to negative so the arrow will be more close to the banner.*/
    
    .headernav {
        display:flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    /*display flex to set the navigations horizontally.*/

    .headernav .home, .headernav .menu, .headernav .about, .headernav .contact {
        border:0px;
        width:100%;
        background-color: black;
    }/*I changed the background-color to black, because i don't want any border on the tablet view, just the text itself showing up.*/

    .banner {
        margin:2.5rem;
    }
    .banner h1 {
        font-size:2.5rem;
    }
    .banner h2 {
        font-size:2rem;
        margin-top:-1rem;
    }
    .store {
        display:flex;
        flex-direction: column;
        justify-content: center;
        margin:3.5rem;
    }
    
    
    .storetext h2 {
        margin-bottom: 1rem;
    }
    .storetext p {
        border:none;
    }
    .home1 {
        flex-basis: 25%;
    }
    .home2 {
        flex-basis: 50%;
    }
    .home3 {
        flex-basis:25%;
    }
    .storeimg img {
        max-width:100%;
    }
    .home-h2 {
        font-size:2.5rem;
    }
 
    .home-section {
        margin: 3.5rem;
        margin-top:2rem;
        margin-bottom: 4rem;
    }
    .home-section img {
        max-width: 50%;
        max-height: 250px;
    }
    /*i set the image to 50% so it's smaller and will fit into each line.*/

    .home-section button {
        max-width: 50%;
        margin-bottom:0;
    }
    .home-section p {
        font-size:1.25rem;
        max-width:100%;
        margin:0;
        border:none;
        margin-top:1.5rem;
        margin-bottom:1.5rem;
    }
    /*I set the border none, because it looks too messy.*/

    .home-section h3 {
        margin-top:0;
        font-size:2rem;
    }
    .s1, .s2, .s4, .s5{
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 3rem;
    }
    /* I used display flex to align the content, because it took less code than grid when displaying them horizontally.*/

    .s1-content, .s4-content {
        margin-left:2rem;
        border-right: 1px solid grey;
        padding-right:1rem;
    }
    .s2 img, .s5 img {
        order:1;
    }/*I used order:1 to move the image to the end. also add more style on my page.*/

    .s2-content, .s5-content {
        margin-right:2rem;
        border-left: 1px solid grey;
        padding-left:1rem;
    }
    /*I added a border just to add more style.*/

    footer {
        display:grid;
        grid-template-columns: repeat(2,1fr);
    }
    /*I used grid to align the footer.*/
    .footernav {
        flex-direction: column;
        line-height: 2rem;
        font-size:1.2rem;
        margin-left: 3.5rem;
    }
   
    .footer-part2 {
        order:0;
    }
    .footer-social {
        justify-content: center;
        margin-top:3rem;
    }
    .footer-icon {
        justify-content: center;
    }
 
    .gototop {
        margin-top:1rem;
    }
    footer p {
        border-top:1px solid white;
        padding-top:1rem;
        grid-column:1/3;
        text-align: center;
        margin-left:3.5rem;
        margin-right:3.5rem;
    }

    /*Menu page start here*/
    .menu-banner {
        margin:2.5rem;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }
    .displayimg {
        flex-basis:70%
    }
    .special {
        flex-basis: 30%;
        margin-top:0;
        margin-left:2px;
        text-align:center;
        display:flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    /*I used flex basis to align the two parts on the banner, it's more accurate.*/
   
    .special p {
        margin:0.5rem;
        text-align: center;
        font-size:1.1rem;
    }
    .menu-section {
        margin:2.5rem;
    }
    .menu-section .sectioncontent {
        margin-left:2.5rem;
        margin-right:2.5rem;
        display:grid;
        grid-template-columns: 1fr 1fr;
    }
    /*I used grid to align the menu, to add more style and also easier to read.*/

    .menu-section hr {
        border:1px solid black;
    }
    .sectionp1 {
        border-right:0.5px solid black;
        padding-right:1rem;
    }
    .sectionp2 {
        border-left:0.5px solid black;
        padding-left:1rem;
    }
    .sectionp1 div, .sectionp2 div {
        margin:0;
        padding:1rem;
    }
    .sectionp2 .dis8, .dis10, .dis12 {
        background-color: #FCF6E8;
        color:black;
    }
    .sectionp2 .dis7, .dis9, .dis11 {
        background-color: #19385C;
        color:#d4af37;
    }

    
    /*About Page start here*/
    .about-banner {
        margin:2.5rem;
    }
    .about-banner h1 {
        font-size:2.5rem;
    }
    .about-banner p {
        margin-top:2rem;
        width:50%;
        margin-left:auto;
        margin-right:auto;
        font-size:1.5rem;
    }
    /*margin-left/right auto to make it center.*/

    .about-banner h2 {
        font-size:2rem;
        margin-top:-1rem;
    }
    .about-h2 {
        font-size:2.5rem;
    }
    .about-section {
        margin: 3.5rem;
        margin-top:2rem;
        margin-bottom: 4rem;
    }
    .about-section h3 {
        font-size:2.5rem;
    }
    .about-section p {
        font-size:1.25rem;
        margin-left: 3rem;
        margin-right:3rem;
    }
    .gellary {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap:1rem;
        height:400px;
        margin-left:3.5rem;
        margin-right: 3.5rem;
    }
    /*I used grid to set the gallery, it will display two images on one line.*/

    .gellary img {
        margin:0;
        border:none;
    }
    @keyframes grow {
        100% {
          transform:scale(1.5);
        }
      }
      .gellary img:active {
        animation-name: grow;
        animation-duration: 1s;
        animation-iteration-count: 1;
      }
      /*I added an animation because the image is a bit small on tablet view, so when clicking on the image it will grow, it's easier to see.*/


    /*Contact page start here*/
    .contact-banner {
        margin:2.5rem;
    }
    .contact-banner h1 {
        font-size:3rem;
    }
    
    .contact-banner h2 {
        font-size:2rem;
        margin-bottom:3rem;
    }
    
    .contact-section {
        margin: 3.5rem;
        margin-top:2rem;
        margin-bottom: 4rem;
        display:flex;
        flex-wrap: wrap;
    }
    /*I used flex to align all the content, it takes less code than grid when I'm using flex basis to effect the map.*/

    .mapgroup {
        margin:2rem;
        flex-basis:100%;
        margin-top:0;
    }
    /*I set the flex-basis to 100% so it will take the whole line.*/

    .contactinfo {
        border-right:1px solid black;
        border-bottom:none;
        flex-basis:50%;
    }/*I set these two content to 50% each so they both can take half of the page.*/

    .contact-form {
        border-left:1px solid black;
        margin-top:3rem;
        flex-basis:50%;
    }
    .contact-section h2 {
        font-size:2.5rem;
        margin-left:3rem;
        margin-right:3rem;
    }
}

/*desktop view start here*/
@media (min-width:1280px) {
    @keyframes arrowup {
        0% {
          transform: translate(0,-5px);
        }
        100% {
            transform: translate(0,10px);
          }
      }

      .arrow {
        animation-name:arrowup;
        animation-duration: 1s;
        animation-iteration-count: infinite;
      }
      /*I used this animaiton to made the arrow move up and down. to tell the end user scroll down for more content.*/

    .home-header {
        display:flex;
        flex-direction: row;
        justify-content: space-between;
    }/*I used display flex to align the header, and space-between to align the spacing.*/
    
    .logo {
        margin-left:2.5rem;
    }

    .headernav div a:hover,
    .headernav div a:active {
        color: #d4af37;
        font-size:2rem;
    }
    /*when hovering on each navigation link, it will turn to gold.*/

    .headernav {
        align-self: flex-end;
        width:50%;
        margin-right:2.5rem;
        margin-bottom:0rem;
    }

    .banner {
        margin-left:5rem;
        margin-right:5rem;
        display: flex;
        flex-direction: row;
    }
    /*I used flex basis to align the banner*/

    .banner1 {
        flex-basis: 70%;
        border-bottom:none;
    }
    .bannergroup {
        display: flex;
        flex-direction: column;
        flex-basis: 30%;
        border-left:3px solid #FCF6E8;
    }
    .banner2 {
        border-bottom:1.5px solid #FCF6E8;
    }
    .banner3 {
        border-top:1.5px solid #FCF6E8;
    }

    .store {
        flex-direction: row;
        margin:6rem;
        background-color: black;
    }
    /*I changed the background color to black to match the content, and the theme.*/

    .storeimg {
        flex-basis: 60%;
    }
    .storetext {
        flex-basis: 35%;
        color:#d4af37;
    }
    /*I used flex basis to align these two content.*/

    .storetext .ab-button {
        background-color: #d4af37;
        color:black;
    }
    .storetext .ab-button a:link,
    .storetext .ab-button a:visited {
        color:black;
    }
    .home-h2 {
        margin-top:3.5rem;
        font-size:3.5rem;
    }
    .home-section {
        margin-left:5.5rem;
        margin-right:5.5rem;
        display:grid;
        grid-template-rows: repeat(3,1fr);
        grid-template-columns: repeat(3,1fr);
        grid-template-areas: 
        "two one one"
        "two three four"
        "five five four";
    }
    /*I want to add more style to the content on the home page, so I used grid area, I think it is the best way to do it.*/

    .s1 {
        grid-area: one;
        margin-bottom:0;
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        border-bottom:3px solid black;
    }/*I used flex to align this content, because flex took less code*/
    .s2 {
        grid-area: two;
        display: flex;
        flex-direction: column;
        margin-bottom:0;
        justify-content: flex-end;
        border-right:3px solid black;
    }
    .s3 {
        display: block;
        grid-area: three;
    }/*I made this s3 appear, and will be adding an animation to it.*/

    .s4 {
        grid-area: four;
        display: flex;
        flex-direction: column;
        margin-bottom:0;
        justify-content: flex-start;
        border-left:3px solid black;
    }
    .s5 {
        grid-area: five;
        margin-bottom:0;
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        border-top:3px solid black;
    }
    .home-section img {
        border:none;
        margin:0.5rem;
        border-radius:5%;
    }
    .s1 img, .s5 img {
        max-width:90%;
    }
    /*I changed the width of the image to match up with all the images.*/

    .s2 img, .s4 img {
        max-width:100%;
        max-height:100%;
    }/*I changed the width of the image to match up with all the images.*/

    .home-section h3 {
        font-size:1.5rem;
    }
    .home-section p {
        font-size:1rem;
    }
    .s1-content {
        border:none;
        margin-top:1rem;
    }
    .s2-content {
        border:none;
        margin-bottom: 6.5rem;
    }
    .s4-content {
        border:none;
        display:block;
        margin-top:1rem;
    }
    .s5-content {
        border:none;
        margin-top:1rem;
    }
    /*I removed all the border to match up with my mock up page.*/

    .s3 {
        margin:auto;
        font-family: 'Parisienne', cursive;
        font-size:2rem;
        margin-right:2.5rem;
        margin-left:2.5rem;
        text-align:center;
        color:black;
    }
    .s3 .s3p a:link,
    .s3 .s3p a:active {
        text-decoration: none;
        color:black;
    }
    .s3 .s3p a:hover,
    .s3 .s3p a:visited {
        text-decoration: none;
        color:black;
    }

    @keyframes hover {
        100% {
          transform: translate(0, -15px); 
        }
      }
      
      .social img:hover {
        animation-name:hover;
        animation-duration: 0.7s;
        animation-iteration-count: infinite;
        
      }/*when hovering on the social media icons, user will notice.*/

    @keyframes rotate {
        50% {
          transform:rotatey(180deg);
        }
      }
      .s3 .s3p {
        animation-name: rotate;
        animation-duration: 1.5s;
        animation-iteration-count: infinite;
      }/*the s3 is spinning, so the end user will notice, and can click to go to the menu page.*/

    @keyframes stop {
        50% {
            transform:rotatey(0deg);
          }
        }
        .s3 .s3p:hover {
            animation-name:stop;
            animation-duration: 0s;
            animation-iteration-count: infinite;
        }/*I made the s3 stop when hovering on it, so the end user read more clearly about the text.*/

    @keyframes up {
        50% {
          transform:translate(0,-15px);
        }
      }
      .gototop {
        animation-name: up;
        animation-duration: 1s;
        animation-iteration-count: infinite;
      }/*I made the goto top button going up and down so the end user will notice.*/

    /*Menu Page Start here*/
    .menu-banner {
        margin-left:5rem;
        margin-right:5rem;
    }
    .menu-banner .special p {
        font-size:1.5rem;
    }
    .menu-section {
        margin-left:5rem;
        margin-right:5rem;
    }
    .menu-section h2 {
        font-size: 3.5rem;
    }
    .sectioncontent {
        margin-left: 6rem;
        margin-right: 6rem;
    }

    .sectioncontent div {
        font-size:1.5rem;
    }
    /*About Page start here*/
    .about-banner {
        margin-left:5rem;
        margin-right:5rem;
    }
    .about-section {
        margin-left:5rem;
        margin-right:5rem;
    }
    .about-h2 {
        font-size:3.5rem;
        margin-top:3.5rem;
    }
    .p1i, .p2i, .p3i, .p4i, .p5i {
        max-width:80%;
    }
    
    .persona1, .persona2, .persona3, .persona4, .persona5 {
        display:grid;
        grid-template-columns: 1fr 1fr;
    }
    /*I used grid to align all the content inside each div, so the spacing and content alignment would look better.*/

    .psocial {
        transform: scale(1.2);
        margin-bottom:1rem;
    }
    /*I made the social icons bigger so it's more clearly to the user.*/

    .p1c,.p2c, .p3c, .p4c, .p5c {
        margin-top: auto;
        margin-bottom: auto;
    }
    /*made the content top to bottom at the center.*/

    .p1c h3, .p3c h3, .p5c h3 {
        text-align:left;
    }
    .p1c p, .p3c p, .p5c p {
        margin-left: 0;
    }
    .p2p, .p4p {
        order:1;
    }
    /*I used order:1 to make the image move to the end.*/

    .gellarytext h1 {
        margin-bottom:2rem;
        font-size:3rem;
    }
    .gellarytext p {
        font-weight: bold;
    }
    .gellary {
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(3,1fr);
        grid-gap:0;
        overflow: hidden;
        height:auto;
        border:none;
    }/*I used grid to set the images into 3x3. to add more style, and the end users can see them more clearly on the desktop view.*/

    .gellary img {
        padding:1rem;
    }
    .gellary .g1, .gellary .g2, .gellary .g4, .gellary .g5 {
        border-right: 2px solid black;
        border-bottom:2px solid black;
    }
    /*I added the border to add more style.*/

    .gellary .g3, .gellary .g6 {
        border-bottom: 2px solid black;
    }
    .gellary .g7, .gellary .g8 {
        border-right: 2px solid black;
    }

    @keyframes about-rotate {
        50% {
          transform:rotatey(180deg);
        }
      }
      .p1i:hover {
        animation-name: about-rotate;
        animation-duration: 1.5s;
        animation-iteration-count: initial;
      }
      .p2i:hover {
        animation-name: about-rotate;
        animation-duration: 1.5s;
        animation-iteration-count: initial;
      }
      .p3i:hover {
        animation-name: about-rotate;
        animation-duration: 1.5s;
        animation-iteration-count: initial;
      }
      .p4i:hover {
        animation-name: about-rotate;
        animation-duration: 1.5s;
        animation-iteration-count: initial;
      }
      .p5i:hover {
        animation-name: about-rotate;
        animation-duration: 1.5s;
        animation-iteration-count: initial;
      }
      /*I added this spinning image effect to all the portrait images, so the end users can have a better view on which chef's bio they're reading.*/

    @keyframes grow {
       100% {
           transform:scale(1);
        }
    }
    .gellary img:active {
        animation-name: grow;
        animation-duration: initial;
    }
    /*I stopped the growing effect from the tablet view.*/

    
    /*Contact page start here*/
    .contact-banner {
        margin-left:5rem;
        margin-right:5rem;
    }
    .contact-banner h1 {
        margin-top:2rem;
    }
    .contact-banner .social {
        margin-bottom:2rem;
    }
    .contact-section {
        margin-left:5rem;
        margin-right:5rem;
        display:grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
    /*I used grid to align the body content, to move the map and the contact info into one row.*/

    .mapgroup {
        grid-row:1/2;
        grid-column: 1/2;
        margin-top:2rem;
    }
    .mapgroup h2 {
        margin-top:5rem;
        font-size:3rem;
    }
    .contactinfo {
        grid-row:2/3;
        grid-column: 1/2;
        border-right:none;
    }
    /*I moved the map and the contact info together because there;s too many space under the contact info, so I did that for better spacing, and style.*/

    .contactinfo h2 {
        font-size:3rem;
    }
    .contact-form {
        grid-column: 2/3;
        grid-row:1/3;
        margin-top:2.5rem;
        border-left:2px solid black;
    }
    .contact-form h2 {
        margin-top:0;
        font-size:3rem;
        margin-top:-5rem;
        /*I set the margin to negative just to make thetop of the form and the map starts at the same level.*/

    }
}
/*I used lots of margin to get my website looks more close to my mock up pages.*/


