/*mobile view starts here*/
* {
    box-sizing: border-box;
}
/*border-box inclused the padding and border in the total width, and height, so it's easier to adjust the size of an element*/

body {
    background-color:#f7f7ff;
}
main {
    margin:1rem;
    margin-bottom:0;
}
/*I set the margin bottom to 0 because there's a white space at the bottom of the page.*/

header {
    max-width:100%;
    margin-left:2rem;
}
.logo {
    max-width: 150px;
    margin-left:0rem;
}
/*I set a width: 150px to the logo to make the logo looks close enough to the mock up.*/

section {
    display:block;
    margin:2rem;
}
/*I set the margin from the left to 2rem, I tried to make the spacing look close enough to the mock up*/

h1 {
    font-family: 'montserrat-bold', sans-serif;
    font-size: 6rem;
    margin-top:0;
    margin-bottom: 0;
    color:#333131;
}
/* I chose 'montserrat-bold' for h1*/
.p1 {
    font-family: 'montserrat-light', sans-serif;
    font-size:2.1rem;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

.form {
    border:1px;
    border-radius: 30px;
    box-shadow: 1px 5px 5px 5px lightgray;
    background-color: white;
    height:auto;
    margin-top:1rem;
}
/*I chose this light gray as the box shadow, this is the cloest i can find to match the mockup*/

h2 {
    display:inline-block;
    margin:2.5rem;
    font-size:3.25rem;
    font-family:'montserrat-bold', sans-serif;
    margin-bottom: 0;
    margin-top:2rem;
}
.p2desk {
    display: none;
}
/*display none to hide the desktop version of p2*/

.p2 {
    margin-left:2.5rem;
    font-size:1.23rem;
    font-family: 'montserrat-thin',sans-serif;
    margin-bottom:0.75rem;
    margin-top:1rem;
}
.contact-form {
    display:flex;
    flex-direction: column;
    justify-content: stretch;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
}
/*I used flex so i can change the width of the inputs and the button easily, and margin-left, and right 2.5 to set the content in center.*/

.contact-form-input {
    width:100%;
    font-size:1rem;
    line-height: 2.5rem;
    margin-bottom:1rem;
    font-family:'montserrat-thin', sans-serif;
    background-color: #eeeeee;/*this is the ligest grey i can find to match the mockup*/
    border:none;
    border-radius: 10px;
}

.checkboxlabel {
    display:inline-block;/* I used inline-block so the text will stay in the form box*/
    font-size:1.25rem;
    margin-left:0.5rem;
    font-family: 'montserrat-thin', sans-serif;
    position: absolute;
}
#checkbox {
    width:1.5rem;
    height:1.5rem;
    border-radius: 15%;
    cursor: pointer;
}
/*I used border radius to make angles on the check box not 90 degree*/

.greenbutton {
    display: block;
    text-align: center;
    font-family: 'montserrat-light',sans-serif;
    font-weight: bold;
    font-size: 2rem;
    line-height: 4rem;
    margin-top: 1rem;
    background-color: #57eeab;
    color: #333131;
    border:none;
    border-radius: 15px;
}
.p3 {
    display: inline-block;
    margin-left: 2.5rem;
    font-family: 'montserrat-thin', sans-serif;
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

.link1:link,
.link1:visited {
    text-decoration: none;
    color:#ff8480;
}

footer {
    background-color: #fffd8c;
    margin:-1rem;
    margin-top: 3rem;
}
/*because i set the main a margin 1rem, so i set the margin to -1 to fill the screen, i learned this from the lecture 8 video*/

h3 {
    display: inline-block;
    margin-left:2.5rem;
    margin-top:2rem;
    margin-right: 2.5rem;
    font-family: 'montserrat-light', sans-serif;
    font-size: 2rem;
    margin-bottom:0;
    color:#333131;
}
/*I used lots of margin to try to make the space looks close to the mockup page, margin-left and right 2.5rem to make it center*/

.p4 {
    margin-left: 2.5rem;
    margin-right: 2rem;
    font-size:1.5rem;
    font-family: 'montserrat-thin', sans-serif;
}
.footer-form {
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    display: flex;
    flex-wrap: wrap;
}
/*I used flex to make it easier to move the button at the same line with the inputs in desktop view*/

.form-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-grow: 1;
}
/*I learned this codes from the lecture 8 video, flex is easier to adjust the width of the two inputs, and make it reponsive*/

.hours {
    width:25%;
    font-size: 1.2rem;
    line-height: 2.5rem;
    border-radius: 10px;
    border:none;
    background-color: #f7f7ff;
    font-family: 'montserrat-thin', sans-serif;
}
/*I set the width to 25% to match the mockup page*/

.city {
    width:70%;
    font-size: 1.2rem;
    line-height: 2.5rem;
    border-radius: 10px;
    border:none;
    background-color: #f7f7ff;
    font-family: 'montserrat-thin', sans-serif;
}
/*I set the width to 70% to match the mockup page*/

.redbutton {
    flex-basis: 100%;
    display: inline-block;
    font-size:2rem;
    font-family: 'montserrat-light',sans-serif;
    font-weight: bold;
    border-radius: 10px;
    border:none;
    background-color:#ff8480;
    line-height: 3.5rem;
    color:#f7f7ff;
    margin-top:1rem;
    margin-bottom: 2.5rem;
}
/*I used flex basis:100% to make the button full length*/

.social {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding-bottom: 1.5rem;
    grid-template-areas: 
    "three one two four";
}
/*I used grid to space between each icons, and i found that the order of each icon is not same, on the desktop view.*/

.ig {
    grid-area: one;
}
.tw {
    grid-area: two;
}
.fb {
    grid-area: three;
}
.li {
    grid-area: four;
}

/*this is the tablet view*/
@media (min-width:550px) {
    .bgimage {
        margin-top:-2rem;
    }
    /*I added a margin here to make spacing of the background image looks close enough as the mockup page*/

    .footer-form {
        flex-direction: row;
        flex-wrap: nowrap;
    }
    /*I used flex nowrap to make the button and the inputs at the same level*/

    .form-group {
        flex-basis: 50%;
    }
    /*I used flex basis to adjust the space between inputs and the button*/

    .redbutton {
        margin-left: 1rem;
        margin-top:0;
        flex-basis: 50%;
    }
    /*I used the margin to align the position of the button*/

    .hours, .city {
        max-height:60%;
    }
    /*I used max-height to change the height of the two inputs to match the button*/

    .social {
        margin-left: 6rem;
        margin-right: 6rem;
    }
    /*I added a margin becasue the margin on the tablet view's mockup page is bigger than the mobile view.*/
}

/*This is thr desktop view*/
@media (min-width:1000px) {
    .logo {
        width:80px;
        margin-left:5%;
        margin-top:-0.5rem;
    }
    /*I used the margin to set the position of the logo, and changed the size of the logo, because the logo seems smaller on the desktop viwe*/

    .bgimage {
        display: none;
    }
    /*I hide the background color so I can use the background-image attribute to add a background image*/

    body {
        background-image: url(../images/bg-image/scooter.svg);
        background-repeat: no-repeat;
        background-size: 42%;
        background-position: center 136px;
    }
    /*I add the background image using css attribute because on the desktop view it's easier to position the image, I also set the size to 40% so the spacing looks close to the mock up page.*/

    section {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: 1fr;
        grid-gap:15rem;
        margin-top: 3rem;
        padding-bottom:2rem;
    }
    /*I used grid to align the text and the form. I added a padding bottom to make the space under the form match the mockup page*/

    .text {
        margin-left:auto;
        margin-right: auto;
        margin-top:0;
        max-width:75%;
    }
    /*I set the width of the div to 75% so spacing looks similar to the mockup page. The margin-left and right: auto to set the .text center in the space*/

    h1 {
        font-size:4.25rem;
    }
    /*I changed the font-size smaller on every element because the font size seems smaller on the mockup page.*/

    .p1 {
        font-size:1.25rem;
        font-family: 'montserrat-thin', sans-serif;
    }
    .form {
        margin-left: auto;
        margin-right: auto;
        margin-top:0;
        max-width:75%;
    }
    /*I set the width to 75% to match the width of .text. I set the margin-left and right to auto to make it center*/

    h2 {
        font-size: 1.5rem;
    }
    .p2 {
        display: none;
    }
    /*I hide the p2 to display the desktop version of p2*/

    .p2desk {
        display: inline-block;
        margin-left: 2.5rem;
        font-family: 'montserrat-thin', sans-serif;
    }
    .contact-form-input {
        font-size: 1rem;
    }
    .checkboxlabel {
        font-size: 1rem;
    }
    #checkbox {
        width:15px;
        height:15px;
    }
    .greenbutton {
        font-size: 1.5rem;
        line-height: 2.5rem;
        border-radius: 5px;
    }
    .p3 {
        font-size: 0.75rem;
        margin-left: 4.5rem;
        margin-right: 4.5rem;
        text-align: center;
        max-width: 100%;
    }

    .footer {
        display:flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
    }
    /*I used flex to set the content and the icons at the same horizontal line*/

    .footer-section1 {
        margin-left:3.5rem;
    }
    /*I set the margin left to make spacing look more closer to the mockup page*/

    h3 {
        font-size:1.5rem;
        font-weight: normal;
    }
    .p4 {
        font-size: 1rem;
        margin-top: 0.5rem;
    }
    .hours, .city {
        font-size: 1rem;
        line-height: 1.5rem;
        max-height: 40%;
        border-radius: 5px;
    }
    /*I set the height again to match the size of the input attribute to the mockup page.*/

    .redbutton {
        font-size: 1rem;
        line-height: 1.5rem;
        border-radius: 5px;
    }

    .social {
        justify-items: center;
        align-self: center;
        margin-top:1rem;
        grid-template-areas: 
        "one two three four";
    }

    /*I reordered the icons using grid area, because the order of the icons on the desktop view changed.*/
    .ig, .tw, .fb, .li {
        margin-left:2.5rem;
    }
    /*Margin-left on every icons to space between each icons.*/
}
/*The css page is validated by the css validator*/
